{# <!DOCTYPE html>
<html>
  <head>
    <title>{{collection.name}}</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/static/css/main.css"
    />
  </head>
  <body onload="init()">
    
    <script>
      
    </script>
  </body>
</html>

 #}



{% extends "layout.html.jinja2" %} 

{% block title %} {{collection.name}} {% endblock%} 

{# {% block styles %}
<link rel="stylesheet" href="/static/css/collection.css" />
{% endblock %}  #}

{% block scripts %}
<script src="/static/js/collection.js" defer></script>
{% endblock %} 

{% set active_page = 'home' %}

{% set onloadFunction = "init()" %} 

{% block content %}
<main>
    {# Hidden vars like: collection.id, user.name #}
    <input type="hidden" id="collection_id" value="{{collection.id}}" />
    <input type="hidden" id="user_name" value="{{user.name}}" />
    <input type="hidden" id="token" value="{{token}}" />
    <input type="hidden" id="websocket_url" value="{{websocket_url}}" />
    <h1>{{collection.name}}</h1>
    <h2>Your Name: <span id="ws-id"> {{user.name}} </span></h2>
    {# <h2>Collection: {{collection.name}}</h2> #}
    <form action="" onsubmit="sendMessage(event)">
      {# Message Input #}
      <input
        type="text"
        id="todoTitle"
        autocomplete="off"
        placeholder="Title"
      />
      <input
        type="text"
        id="todoDescription"
        autocomplete="off"
        placeholder="Description"
      />
      <button class="btn-primary">Send</button>
    </form>
    <form action="" onsubmit="addToCollection(event)">
      {# Message Input #}
      <input
        type="text"
        id="user_name_to_add"
        autocomplete="off"
        placeholder="User Name"
      />
      <button class="btn-secondary">Add to {{collection.id}}</button>
    </form>
    <section class="items" id="todos"></section>
    </main>
    <script>
    function init() {
  json = {{todossosos|tojson|safe}};
  console.log(json);
  json.forEach((todo) => {
    todo = JSON.parse(todo);
    processTodo({
      title: todo.title,
      description: todo.description,
    });
  });
}
    </script>
{% endblock %}
