{% extends "layout.html.jinja2" %} {% block title %} My Collections {% endblock
%} {% block styles %}
<link rel="stylesheet" href="/static/css/collections.css" />
{% endblock %} {% block scripts %}
<script src="/static/js/collections.js"></script>
{% endblock %} 

{% set active_page = 'home' %}

{% set onloadFunction = 'init()' %} {% block content %}
<section id="overlay" onclick="hideCreateCollectionOverlay()">
  <form
    id="create-collection-form"
    class="overlay-box"
    onsubmit="createCollection(event)"
    onclick="event.stopPropagation()"
  >
    <input
      type="text"
      name="name"
      placeholder="Collection Name"
      id="create-collection-name"
    />
    <button type="submit" id="create-collection-submit">Create</button>
  </form>
</section>
<h1>Hello {{ user.name }}</h1>

<button onclick="showCreateCollectionOverlay()"
                class="text-white fixed right-4 bottom-4 px-4 w-auto h-10 bg-blue-600 rounded-full hover:bg-blue-900 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
          <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-6 h-6 inline-block mr-1">
            <path fill="#FFFFFF" d="M17.19,4.155c-1.672-1.534-4.383-1.534-6.055,0L10,5.197L8.864,4.155c-1.672-1.534-4.382-1.534-6.054,0
                                    c-1.881,1.727-1.881,4.52,0,6.246L10,17l7.19-6.599C19.07,8.675,19.07,5.881,17.19,4.155z"/>
          </svg>
          <span>Create Collection</span>
        </button>

<section class="items">
  {% for collection in collections %}
  <article
    class="item"
    onclick="window.location.href='{{url_for('collection', collection_id=collection.id)}}'"
  >
    <h1>{{ collection.name }}</h1>
  </article>
  {% endfor %}
</section>

{% endblock %}
