<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Collections</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/static/css/main.css"
    />
    <script src='/static/js/collections.js'></script>
  </head>
  <body onload="init()">
    <h1>Hello {{user.name}}</h1>
    <section class="items">
      {% for collection in collections %}
        <article class="item" onclick="window.location.href='{{url_for('collection', collection_id=collection.id)}}'">
          <h1>{{collection.name}}</h1>
        </article>
    {% endfor %}
      </section>
      <form id="create-collection">
        <input type="text" name="name" placeholder="Collection Name" id="create-collection-name" />
        <input type="submit" value="Add Collection" />
      </form>
  </body>
</html>
