<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <script src="/static/js/auth.js"></script>
  </head>
  <body>
    <h1>WebSocket Chat</h1>
    <h2>Your ID: <span id="ws-id"> {{user.id}} </span></h2>
    <h2>Collection ID: {{collection_id}}</h2>
    <form action="" onsubmit="sendMessage(event)">
      {# Message Input #}
      <input
        type="text"
        id="todoTitle"
        autocomplete="off"
        placeholder="Title"
      />
      <input
        type="text"
        id="todoDescription"
        autocomplete="off"
        placeholder="Description"
      />
      <button>Send</button>
    </form>
    <form action="" onsubmit="addToCollection(event)">
      {# Message Input #}
      <input
        type="text"
        id="user_id_to_add"
        autocomplete="off"
        placeholder="User ID"
      />
      <button>Add to {{collection_id}}</button>
    </form>
    <div>
      {% for todo in todos %}
      <li>
        <h3>{{todo.title}}</h3>
        <p>{{todo.description}}</p>
      </li>
      {% endfor %}
    </div>
    <ul id="todos"></ul>
    <script>
      user_id = '{{user._id}}';
      var ws = new WebSocket(
        `ws://localhost:8000/api/v1/todo/ws/{{collection_id}}?token={{token}}`
      );
      ws.onmessage = function (event) {
        var todos = document.getElementById('todos');

        try {
          var todo = JSON.parse(event.data);
          processTodo(todo);
          console.log("Received: '" + event.data + "'");
        } catch (e) {
          console.log(event.data);
        }
      };
      function processTodo(todo) {
        var todos = document.getElementById('todos');
        var todoItem = document.createElement('li');
        var todoTitle = document.createElement('h3');
        var todoDescription = document.createElement('p');
        todoTitle.textContent = todo.title;
        todoDescription.textContent = todo.description;
        todoItem.appendChild(todoTitle);
        todoItem.appendChild(todoDescription);
        todos.appendChild(todoItem);
      }
      function sendMessage(event) {
        var todoTitle = document.getElementById('todoTitle');
        var todoDescription = document.getElementById('todoDescription');
        // To jsson
        var todo = {
          title: todoTitle.value,
          description: todoDescription.value,
        };
        // To string
        var todoString = JSON.stringify(todo);
        ws.send(todoString);
        todoTitle.value = '';
        todoDescription.value = '';
        event.preventDefault();
      }
      async function addToCollection(event) {
        event.preventDefault();
        // Send to server put with fetch
        var user_id_to_add = document.getElementById('user_id_to_add');
        var user_id_to_add_value = user_id_to_add.value;
        var url = '/api/v1/member/create';
        var data = {
          user_id: user_id_to_add_value,
          collection_id: '{{collection_id}}',
        };
        const response = await fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        })
          .then((response) => {
            if (response.redirected) {
              alert('User already in collection');
            } else {
              return response;
            }
          })
          .catch((error) => {
            console.log(error);
          });

        const content = await response.json();
        console.log(content);
        user_id_to_add.value = '';
      }
    </script>
  </body>
</html>
