<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/css/main.tailwind.min.css" />
        {# <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" /> #}
        <script src="/static/js/nav.js" defer></script>
        <script src="/static/js/jquery-3.7.1.js" defer></script>
        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    {% if onloadFunction %}
        <body onload="{{ onloadFunction }}" class="bg-gray-50 dark:bg-gray-900">
    {% else %}
        <body class="bg-gray-50 dark:bg-gray-900">
    {% endif %} 
        {% include 'nav.html.jinja2' %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    </body>
</html>