/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root colors vars */
:root {
  --primary-color: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --background: #121212;
  --surface: rgba(255, 255, 255, 0.12);
  --surface-hover: rgba(255, 255, 255, 0.24);
  --error: #cf6679;
  --on-primary: #000000;
  --on-secondary: #000000;
  --on-background: #ffffff;
  --on-surface: #ffffff;
  --on-error: #000000;
}

.secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

/* Global styles */

body {
  margin: 0rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  background-color: var(--background);
  color: var(--on-background);
}

main {
  margin: 1rem;
}

.abschnitt {
  display: flex;
  flex-direction: column;
  background-color: var(--surface);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1.5rem;
}

.abschnitt h2 {
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.item-img {
  width: 100px;
  height: 100px;
}

header,
.row {
  display: flex; /* aligns all child elements (flex items) in a row */

  border: 1px solid gray;
  padding: 2rem;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: var(--background);
}

.col {
  flex: 1; /* distributes space on the line equally among items */
}

.items {
  display: flex;
  flex-direction: row-reverse;
}

/* Pizza is clickable */
.item {
  flex: 1 1 250px; /* flex-grow, flex-shrink, flex-basis */
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: var(--surface);
  border-radius: 0.5rem;
  /* Clickable */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#todos > .item {
  cursor: default;
}
#todos > .item:hover {
  background-color: var(--surface);
}

.item:hover {
  background-color: var(--surface-hover);
}

@media screen and (max-width: 600px) {
  .items {
    justify-content: center;
  }

  /* Center the body */
  body {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

.pizza-info {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.warenkorb {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  background-color: var(--surface);
  border-radius: 0.5rem;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.item-info > * {
  margin: 0.2rem;
}
/* button {
  color: var(--on-primary);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-variant);
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.floating-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

.button-delete {
  background-color: var(--error) !important;
} */

.item-name {
  font-weight: bold;
  margin: 0.5rem;
}
.item-price {
  font-size: 0.8rem;
}
.item-price-sum {
  font-size: 1.2rem;
  font-weight: bold;
}

.item-anzahl {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: var(--surface);
}

.topnav a {
  float: left;
  display: block;
  color: var(--on-surface);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--surface);
  color: var(--on-surface);
}

.topnav a.active {
  background-color: var(--primary-color);
  color: var(--on-primary);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.navbar-li {
  @apply block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent;
}

.navbar-li.active {
  @apply block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500;
}
